* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #FAFAFA;
}
h5 {
    font-weight: 300;
}
img {
    width: 50px;
    float: right;
}
article {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
section {
    background-color: #FFFFFF;
    width: 280px;
    padding: 10px 30px 25px 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #c0baba;
    margin: 10px;
}
.intro {
    text-align: center;
}
.intro h1 span {
    font-weight: 200;
}
.extr {
    margin: auto 10px;
}
.extr {
    border-top: 5px solid hsl(180, 62%, 55%);
}
.extr:nth-child(2) {
    border-top: 5px solid hsl(212, 86%, 64%);
}
.middle {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.middle section:nth-child(1) {
    border-top: 5px solid hsl(0, 78%, 62%);
}
.middle section:nth-child(2) {
    border-top: 5px solid hsl(34, 97%, 64%);
}
@media screen and (max-width: 480px) {
    article {
        flex-direction: column;
    }
    section {
        margin: 10px auto;
    }
    .extr {
        margin: 10px auto;
    }
}